#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.lg-btn{
    float: right;
    margin-top: 14px;
}
.r-space{
    margin-right: 10px;

}
.content{
    padding-top: 20px;
    font-size: 25px;

}
.c-red{
    background-color: rgb(182, 34, 7) !important;
}

.wrapper {
    border: solid;
    text-align: center;
    border-width: 4px 1.25em;
    padding: 20px;
}

.border {
    padding: 10px;
    margin: 10px;
}
.abc{
    float: right;
}