*{
    padding: 0;
    margin: 0;
}
body{
    color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center;
    display: flex;
    letter-spacing: .5em;
    top: 15%;
    backdrop-filter: blur(10px);
}

#container{
    position: relative;
    margin-top: 100px;
    width: 600px;
    height: 400px;     
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #A2C7E5 10%, #49D49D 90%);
    border-radius: 2px;
} 

.label{
    padding: 25px;
    font-weight: bold;
    font-size: 55px;
    font: 'helvetica' sans-serif;
    color: white;
}

#username{
    width: 200px;
    height: 30px;
}

#password{
    width: 200px;
    height: 30px;
}

.mr-auto{
    margin: auto;
}  
.btns{
display: flex;
margin-left: 65px;
justify-content: space-evenly;
}

